libft/bin/*.o
libft/libftprintf.a
VM/bin/*.o
VM/src/.*
VM/corewar

ASM/bin/*.o
ASM/src/.*
ASM/asm
ASM/asm.dSYM
ASM/tests/dst_ion
ASM/tests/dst_zaz
ASM/tests/src
ASM/tests/res_tst

ASM_tst/*/

*.swp
VM/zaz
VM/testC

vm_champs
junk
img
subject_docs
README.md
